<a href="https://colab.research.google.com/github/Lucas-O-S/Analise_Exploratoria_N2/blob/B/AnaliseExploratoria_N2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a rel="license" href="https://faculdadesalvadorarena.org.br/"><img alt="FESA" style="border-width:0" src="https://faculdadesalvadorarena.org.br/wp-content/uploads/2022/07/logo_fesa.png" /></a><br />
**FESA - Eletiva II (2025.1)** <br/>

Aluno(a): Adriana Kaori Kakazu - RA: 082220004 <br/>
Aluno(a): Lucas Oliveira Silva - RA: 082220019 <br/>
Aluno(a): Vitoria Kaori Kuriyama - RA: 082220005 <br/>
Aluno(a):  - RA: <br/>
Data: 15/03/2025 <br/>

# 1 - Preparando Dataset

## 1.1 importações

In [9]:
import pandas as pd

In [10]:
#Links das tabelas
urlLinks = "https://raw.githubusercontent.com/Lucas-O-S/Analise_Exploratoria_N2/main/ml-latest-small/links.csv"
urlMovies = "https://raw.githubusercontent.com/Lucas-O-S/Analise_Exploratoria_N2/main/ml-latest-small/movies.csv"
urlRatings = "https://raw.githubusercontent.com/Lucas-O-S/Analise_Exploratoria_N2/main/ml-latest-small/ratings.csv"
urlTags = "https://raw.githubusercontent.com/Lucas-O-S/Analise_Exploratoria_N2/main/ml-latest-small/tags.csv"

#Criando datasets
links = pd.read_csv(urlLinks, encoding="unicode_escape")
movies = pd.read_csv(urlMovies, encoding="unicode_escape")
ratings = pd.read_csv(urlRatings, encoding="unicode_escape")
tags = pd.read_csv(urlTags, encoding="unicode_escape")

## 1.2 Corrigindo Datasets

### 1.2.1 Corrigindo tabela Links

- Verificando dados

In [11]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [12]:
links.info()
print(links.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB
movieId    0
imdbId     0
tmdbId     8
dtype: int64

- Correções

In [13]:
links["tmdbId"] = links["tmdbId"].fillna(0).astype(int)

- Verificando Resultados

In [14]:
links.head()

   movieId  imdbId  tmdbId
0        1  114709     862
1        2  113497    8844
2        3  113228   15602
3        4  114885   31357
4        5  113041   11862

In [15]:
links.info()
print(links.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9742 non-null   int64
dtypes: int64(3)
memory usage: 228.5 KB
movieId    0
imdbId     0
tmdbId     0
dtype: int64

### 1.2.2 Corrigindo tabela Movies

- Verificando Dados

In [16]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [17]:
movies.info()
print(links.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB
movieId    0
imdbId     0
tmdbId     0
dtype: int64

- Correções

In [18]:
movies["title"] = movies["title"].astype(str)
movies["genres"] = movies["genres"].astype(str)

- Verificando Resultados

In [19]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [20]:
movies.info()
print(links.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB
movieId    0
imdbId     0
tmdbId     0
dtype: int64

### 1.2.3 Corrigindo Ratings

- Verificando Dados

In [21]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [22]:
ratings.info()
print(ratings.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

- Correções

In [23]:
ratings["timestamp"] = pd.to_datetime(ratings["timestamp"], unit = "s")

- Verificando Resultados

In [24]:
ratings.head()

   userId  movieId  rating           timestamp
0       1        1     4.0 2000-07-30 18:45:03
1       1        3     4.0 2000-07-30 18:20:47
2       1        6     4.0 2000-07-30 18:37:04
3       1       47     5.0 2000-07-30 19:03:35
4       1       50     5.0 2000-07-30 18:48:51

In [25]:
ratings.info()
print(ratings.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 3.1 MB
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

### 1.2.4 Corrigindo Tags

- Verificando Dados

In [26]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [27]:
tags.info()
print(tags.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.2+ KB
userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

- Correções

In [28]:
tags["timestamp"] = pd.to_datetime(tags["timestamp"], unit = "s")
tags["tag"] = tags["tag"].astype(str)

- Verificando Resultados

In [29]:
tags.head()

   userId  movieId              tag           timestamp
0       2    60756            funny 2015-10-24 19:29:54
1       2    60756  Highly quotable 2015-10-24 19:29:56
2       2    60756     will ferrell 2015-10-24 19:29:52
3       2    89774     Boxing story 2015-10-24 19:33:27
4       2    89774              MMA 2015-10-24 19:33:20

In [30]:
tags.info()
print(tags.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 115.2+ KB
userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

# 2 - Existe alguma correlação entre o ano de lançamento do filme e sua avaliação média (média de ratings)?

#3 Qual o grupo mais disperso: usuários que avaliaram ou usuários que rotularam filmes?

In [31]:
#função para facilitar o calculo da dispersão
def Dispersao(df):
  dados = {
      "Media" : df.mean(),
      "DP" : df.std(),
      "CV" : df.std() / df.mean()
  }
  return dados

## 3.1 Verificando a dispersão da tabela Tags

In [32]:
#contagem de usuarios dentro de tags
countTags = tags["userId"].value_counts()

#dados de tags
dispersaoTags = Dispersao(countTags)

In [33]:
countTags.head()

userId
474    1507
567     432
62      370
599     323
477     280
Name: count, dtype: int64

In [66]:
dispersaoTags

{'Media': np.float64(63.5),
 'DP': 215.1181030169568,
 'CV': np.float64(3.3876866616843593)}

## 3.2 Verificando a dispersão da tabela Ratings

In [75]:
#contagem de usuarios dentro de Ratings
countRatings = ratings["userId"].value_counts()

#dispersão de ratings
dispersaoRatings = Dispersao(countRatings)

In [72]:
countRatings.head()

userId
414    2698
599    2478
474    2108
448    1864
274    1346
Name: count, dtype: int64

In [76]:
dispersaoRatings

{'Media': np.float64(165.30491803278687),
 'DP': 269.4805843871718,
 'CV': np.float64(1.6302030671206198)}

## 3.3 Veficando Resultados

- Para verificar qual grupo está mais disperso sera comparado o coeficiente de variação de ambos

In [79]:
if dispersaoRatings["CV"] > dispersaoTags["CV"]:
  print("O grupo de usuários que avaliaram é mais disperso")
else:
  print("O grupo de usuários que rotulam é mais disperso")

O grupo de usuários que rotulam é mais disperso

# 4 Qual a categoria rotulada mais frequente?

# 5 Como estão distribuídas as avaliações ao longo do tempo?

# 6 - Perguntas Tabela Links

# 7 - Perguntas Tebela Movies

# 8 - Perguntas Tabela Ratings

# 8.1 Qual o ano com os filmes mais bem avaliados

# 9 - Perguntas Tabela Tags